.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.uni-margin-wrap {
		width: 100%;
	}
	.swiper {
		height: 350rpx;
		width: 100%;
	}
	.swiper-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 300px;
	}
/* 卡片样式开始 */
.showcard{
  margin-top: 40rpx;
  height: 760rpx;
  width: 80%;
  background-color:white;
  border-radius: 30rpx;
  box-shadow: 0rpx 0rpx 40rpx #888888;
}
.cardhead{
  display: flex;
  flex-direction: row;
  height: 400rpx;
  width: 100%;
  text-align: center
}
.headblock{
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 50%;
}
.headline{
  width: 2rpx;
  height: 340rpx;
  background-color: gray;
  margin-top: 30rpx;
}
.cardicon{
  margin-top: 40rpx;
  height: 80rpx;
  width: 80rpx;
}
.cardtext1{
   margin-top: 20rpx;
  color: #00FFFF;
  font-size: 36rpx;
}
.cardtext3{
  margin-top: 20rpx;
  color: red;
  font-size: 36rpx;
}
.cardtext2{
  margin-top: 40rpx;
  font-size: 30rpx;
}
.cardline{
  width: 80%;
  height: 2rpx;
  background-color: gray;
  margin-top: 10rpx;
  margin-left: 10%;
}
.cardselect{
  height: 120rpx;
  display: flex;
  justify-content:space-around;
}
.counttext{
  margin-top: 30rpx;
  font-size: 36rpx;
  align-items:center;

}
.moreicon{
  margin-top: 30rpx;
  height: 60rpx;
  width: 60rpx;
  align-items:center;
}
.cardbottom{
  height: 160rpx;
}
.cardbtn{
  background-color: #00FFFF;
  width: 50%;
  margin-top: 60rpx;
  border-radius: 60rpx;
  box-shadow: 0rpx 0rpx 30rpx #888888;
}
.cardbtn::after {
  border: none
}
/* 卡片样式结束 */

/* 添加账单弹出框样式 */
.add-account-form {
	padding: 10px;
	background-color: #fff;
}
.form-btn{
	width: 300rpx;
}